name: Deploy Front-end to Firebase Hosting
on:
  push:
    branches:
      - main

permissions:
  checks: write
  contents: read
  pull-requests: write

defaults:
  run:
    working-directory: ./frontend

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: yarn install --frozen-lockfile && yarn build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_SUPERPLANNINGPOKER }}
          projectId: superplanningpoker
