name: Deploy Back-end to Render

on:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./backend

jobs:
  # Build is done in Render enviroment
  # Github Actions only calls the deploy hook
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Deploy
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"